@import "theme";

body {
  background-color: #000;
}

main{
  min-height: 75vh;
}

.page-header {
  background-image: url("https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-position: center center;
  background-size: cover;
  z-index: -2;
}
